
<!DOCTYPE html>
<html>
<head>
    <title>Art Gallery</title>
</head>
<body>
    <p>Username: {{ username }}</p>
    <p>Role: {{ role }}</p>

    <h2>Rooms</h2>
        <table>
            <tr>
                <th>Room</th>
                <th>People</th>
                <th>Art</th>
            </tr>

            {% for room in rooms %}
                <tr>
                    <td>{{ room[0] }}</td>
                    <td>{{ room[1] }}</td>
                    <td>{{ room[2] }}</td>
                </tr>
            {% endfor %}
        </table>

    <br>

    <h2>Move Rooms</h2>

<form action="{{ url_for('move_room') }}" method="POST">
    <label for="room">Choose a room:</label>

    <select name="room" id="room" required>
        {% for room in rooms %}
            <option value="{{ room[0] }}">{{ room[0] }}</option>
        {% endfor %}
    </select>

    <button type="submit">Submit</button>
</form>

{% if role == 'Admin' %}
    <p><a href="{{ url_for('manage_users') }}">Manage Users</a></p>
{% endif %}

{% if role == 'Admin' %}
    <h2>Create Room</h2>

    <form action="{{ url_for('create_room') }}" method="POST">
        <p>
            <label>Room Name:</label>
            <input type="text" name="name" required>
        </p>

        <p>
            <label>Number of People:</label>
            <input type="number" name="numPeople" min="0" value="0" required>
        </p>

        <p>
            <label>Art:</label>
            <input type="text" name="art" required>
        </p>

        <button type="submit">Submit</button>
    </form>
{% endif %}

{% if role in ['Employee', 'Admin'] %}
    <p><a href="{{ url_for('log') }}">View Movement Log</a></p>

    <p><a href="{{ url_for('create_event') }}">Record Gallery Event</a></p>
{% endif %}

<p><a href="{{ url_for('event_history') }}">View Gallery Event History</a></p>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>